asgiref==3.7.2
certifi==2024.7.4
charset-normalizer==3.1.0
Django==4.2.22
django-filter==23.2
djangorestframework==3.15.2
idna==3.7
Markdown==3.4.3
pytz==2023.3
requests==2.32.2
sqlparse==0.5.0
treblle==0.14
typing_extensions==4.7.0
urllib3==2.2.2
uuid==1.30
